/* .App {
  text-align: center;
} */


.root {
  --background--:#e8e8e4;
  --form--:#ffffff;
  --accent--:#a8dadc;
  --accent--:#fb8500;
  --icon-color--:#52b788;
  --alert-button--:#e63946;
  --submitbutton--:#4895ef;
  --Header-color--:#000000;
  --text-color--:#343a40;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* nav {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  
} */

.landing-header{
  background: #a8dadc;
  display: flex;
  justify-content: space-between;
}

#landing-btn {
  background-color: #4895ef;
  color: #ffffff;
  border: none;
  padding: 8px 25px;
  margin: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s ;
}

#landing-btn:hover {
  background-color: #fb8500;
  color: #000000;
  border: none;
  padding: 8px 25px;
  margin: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s ;
}


#logout-btn {
    background-color: #e63946;
    color: #ffffff;
    border: none;
    padding: 8px 25px;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s ;
}

#logout-btn:hover {
  background-color: #a4133c;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #e8e8e4;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
  padding-bottom: 30px;
}

.to-do-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #343a40;
  outline: none;
  width: 300px;
  background: transparent;
  color: #fff;
}
.todo-form {
  margin-bottom: 30px;
}
.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background:#52b788
}
.todo-button:hover {
  background-color: #fb8500;
  color: black;
}
.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}