.root {
    --background--:#e8e8e4;
    --form--:#ffffff;
    --accent--:#a8dadc;
    --accent--:#fb8500;
    --icon-color--:#52b788;
    --alert-button--:#e63946;
    --submitbutton--:#4895ef;
    --Header-color--:#000000;
    --text-color--:#343a40;
  }