.root {
    --background--:#e8e8e4;
    --form--:#ffffff;
    --accent--:#a8dadc;
    --accent--:#fb8500;
    --icon-color--:#52b788;
    --alert-button--:#e63946;
    --submitbutton--:#4895ef;
    --Header-color--:#000000;
    --text-color--:#343a40;
  }

/* body{
    background-color: #e8e8e4;
    margin: 0 auto;
    display: grid;
    justify-content: center;
} */

.login-section {
    margin-top: -100px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
}

.login-section h3 {
    font-size: 20px;
    margin-bottom:  15px;
}

.form-box {
    display: flex;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    margin: 0 auto;
}

.form-box input {
    width: 300px;
    margin: 0 auto;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14;
    border: 1px solid #01497c;
}

.form-box input:focus {
    border: 2px solid #fca311;
    outline: 0;
}

.login-btn {
    border: 0;
    padding: 6px 20px;
    background: #86b0b6;
    font-size: 14px;
    border-radius: 5px;
    color: #e5e5e5;
    width: 100px;
    margin: 0 auto;
}

.login-btn:hover {
    border-color: #e5e5e5;
    color: #e5e5e5;
    background: #01497c;
}

/* .form-box textarea:focus {
    border: 2px solid #fca311;
    outline: 0;
} */

.login-form {
    background: #ffffff;
    width: 500px;
    display: grid;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.9);
    height: 250px;  
}

.form-control {
    background: #ffffff;
    box-shadow: none;
    border-radius: 0;
    border-color: #01497c;
    border-style: none none solid none;
    width: 100%;
    font-size: 12px;
    transition: all .6s;
}


.form-control::placeholder {
    color:#aaa;
}

.form-control:focus {
    box-shadow: none;
    border-color: #fca311;
    outline: none;
}