.root {
    --background--:#e8e8e4;
    --form--:#ffffff;
    --primary--:#a8dadc;
    --secondary--:#fb8500;
    --user-color--:#52b788;
    --alert-button--:#e63946;
    --submitbutton--:#4895ef;
    --font-color--:#000000;
}

body{
    background-color: #e8e8e4;
}

form {
    background: skyblue;
    display: flex;
    justify-content: center;
    margin: auto;
}